.hero {
    position:relative;
    height: 300vh;
display: flex;
    width:1250px;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-right: 0;
    margin-left:0;
}

.blur-bg {
    position:fixed;
    width:100%;
    height: 400vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4) ),url("images.jpg/background\ 1.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    transform: scale(1.05);
    z-index: -1;
    background-attachment: fixed;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;


}

.border {
    position: relative;
    height: 70vh;
    border-top: 100px;
    border-color: bisque;

}



.butt {

  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-style: normal;


  


    font-style: normal;
    color: bisque;
    font-size: 150px;
    padding-left: 80px;
    margin-top: 200px;
    width: 100px;
    line-height: 150px;


}

.and {
    padding-left: 180px;
}

.brews {
    padding-left: 30px;
}
.logo{
    position: absolute;
    height: 400px;
    width:400px;
    margin-top:120px;
    margin-left:400px ;
    

    border:10px;
    border-radius: 80%;
}


.thought-font{
    position: absolute;
    color: azure;
    margin-top: 50vh;
    font-size: 50px;
}
    
  



.thought-content{
    position: absolute;
     margin-top: 20vh;
     font-size: 50px;
     margin-left: 20px;

   font-family: "WindSong", cursive;
  font-weight: 400;
  font-style: normal;
  color: aliceblue;
  text-decoration-style: wavy;
  -webkit-text-stroke: 1px white;
  color:brown;
  
  
}
.fonts{
    font-style: oblique;
 color: aliceblue;
  margin-left: 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.welcome {
    position: absolute;
    margin-top: 160vh;
    color: antiquewhite;
    font-family: "Cormorant Garamond",serif;
    font-size: 24px;
    line-height: 1.6;
    font-weight: 400;
    max-width: 700px;
    color: #f8e7df;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    margin-left: 20px;

}
.image img{
    position:absolute;
    margin-left: 10px;
    margin-right: 20px;
    margin-top:100vh;
    border: 10px solid transparent;
    overflow: hidden;

    border-radius: 50px;
     filter: blur(1px);
     padding-bottom: 0;

}
.btn{
    position: absolute;
    width:600px;
    height:120px;
    background-color:bisque;
    border-radius: 20px;
    margin-top:120vh ;
    margin-left: 330px;
    transition: all 0.3s ease;
    cursor: pointer;
    padding-bottom: 0;
}
.btn:hover{
    transform:scale(1.05);
    color: aliceblue;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 2px 2px 4px;
}
.btna:active{
    opacity:1;}

    .btna{
    position: absolute;
    width:600px;
    height:120px;
    background-color:bisque;
    border-radius: 20px;
    margin-top:150vh;
    margin-left: 330px;
    color: brown;
    cursor: pointer;
    transition: all 0.3s ease;
    

    
}
.btna:hover{
    transform:scale(1.05);
    color: aliceblue;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 2px 2px 4px;
}
    

    

.btna:active{ 
    opacity: 1;
    
}
.btntexta{
    font-size: 50px;
    text-decoration: none;
    color: brown;
    
  font-family: "Molle", cursive;
  font-weight: 400;
  font-style: italic;
}



.footer-container{
    position: absolute;
    background-color: rgb(79, 34, 4);
    height: 400px;
    width:1300px ;
    margin-left: 0;
    margin-right: 0;
    margin-top: 300px;
    
}

.footer-section{
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.copyright{
    color: aliceblue;
}
